body{
  font-family: 'Roboto';
}

header, footer{
    color:white;
    background-color:#1F2937;

}
.container1{
  background-color:#1F2937;
}
.header-left, .header-right{
    display: flex;
  align-items: center;
  gap: 16px;
}

.header-right{

}

header{
    display: flex;
    justify-content:space-between;
}

ul {
    list-style-type: none;
    font-size:30px;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    
  
  }

ul>li{
  padding:5px;
  border-radius:5px;
  
}

/* ul > li:hover {
  background-color:white;
  color:#1F2937;
} */

ul>li>a{
  padding:5px;
  border-radius:5px;
  background-color:#1F2937;
  color:white;
  text-decoration:none;
  border:2px solid white;
}

ul>li>a:hover{
  background-color:white;
  text-decoration:none;
  color:#1F2937;
}

  .box1{
     /* width:75%;
    justify-content:center;
    align-items:center; 
    margin:0px auto; */
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 120px;
  }

  .container-2{
    display:flex;
    background-color:#1F2937;
    color:white;
    padding-right:240px;
    padding-left:240px;
    padding-bottom:70px;
    gap:100px;
  }

  .container-2-a{
    /* margin-right:50px; */
    width:50%;
    
  }

  #main-text{
    font-size:48px;
    font-weight:800;
    color:#F9FAF8;
  }

  #secondary-text{
    font-size:24px;
    color:#E5E7EB;
  }

  #img{
    height:90%;
    width:100%;
    
  }

  .container-2-b{
    /* margin-left:50px; */
    width:50%;
  }

  #button1{
    background-color:#3882F6;
    color:white;
    border-radius:5px;
    width: 120px;
    height:40px;
    font-size:20px;
    border:0px;
    font-weight:600;
    border:1px solid white;
  }

  #button1:hover{
    color:#3882F6;
    background-color:white;
  }

  .container-3{
    padding-bottom:100px;
  }

  #ct3-text{
    font-size:36px;
    font-weight:700;
    color:#1F2937;
    margin-top:40px;
    margin-bottom:40px;
    text-align:center;
  }

  .container-3-a {
    display: flex;
    justify-content: center;
    gap: 100px;
  } 
  
  .info {
    max-width: 200px;
  }

 .pictures{
  height:200px;
  width:auto;
  border:1px solid black;
  border-radius:10px;
 }

 .container-4{
    background-color:#E5E7EB;
    font-size:36px;
    font-style:italic;
    color:#1F2937;
    padding-left:240px;
    padding-right:240px;
    padding-bottom:100px;
    padding-top:100px;
 }

 footer{
  text-align:center;
  padding-top:30px;
  padding-bottom:30px;
 }
 
 .container-5{
  background-color:white;
  padding-left:240px;
  padding-right:240px;
  padding-top:100px;
  padding-bottom:100px;
  
 }

 .container-5-a{
  display:flex;
  background-color:#3882F6;
  color:white;
  padding-left:200px;
  padding-right:100px;
  padding-top:70px;
  padding-bottom:50px;
  border-radius:15px;
 }

 .c-5-a-2{
  padding-left:-100px;
 }

#unique{
  font-size:25px;
  font-weight:700;
}

#button-2{
  background-color:#3882F6;
  border: 3px solid white;
  color:white;
  border-radius:5px;
  font-size:35px;
  font-weight:600;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left:400px;
  
}

#button-2:hover{
  background-color:white;
  color:#3882F6;
}

#logo{
  padding-top:10px;
  width:100px;
}